html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: auto;
	background-color: #0f0e11;
}

body > div {
	height: 100%;
	width: 100%;
}

.background_image {
	filter: blur(4px);
	-webkit-filter: blur(4px);

	width: 100%;
    height: 100%;

	position: absolute;
    z-index: -1;

	opacity: 0;
	-webkit-transition: opacity .50s ease-in-out;
	-moz-transition: opacity .50s ease-in-out;
	-ms-transition: opacity .50s ease-in-out;
	-o-transition: opacity .50s ease-in-out;
	transition: opacity .50s ease-in-out;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.b-purple-primary {
	background-color: #6441a4;
	border-color: #6441a4;
}

.b-purple-primary:hover, .b-purple-primary:after, .b-purple-primary:focus, .b-purple-primary:active {
	background-color: #4e3380 !important;
	border-color: #4e3380 !important;
	outline: #4e3380 !important;
	box-shadow: 0 0 5px #6441a4 !important;
}

.b-purple-secondary {
	color: #faf9fa;
	background-color: unset;
	border-color: #6441a4;
}

.b-purple-secondary:hover, .b-purple-secondary:after, .b-purple-secondary:active {
	color: #c3c3c3 !important;
	background-color: unset !important;
	border-color: #4e3380 !important;
	outline: #4e3380 !important;
	box-shadow: 0 0 5px #6441a4 !important;
}

.b-purple-secondary.active {
	color: white !important;
	background-color: #6441a4 !important;
	border-color: #6441a4 !important;
	outline: #4e3380 !important;
	box-shadow: 0 0 5px #6441a4 !important;
}

.b-purple-input, .b-purple-input > .input-group > .form-control {
	background: #0f0e11 !important;
    background-clip: padding-box !important;
    border: 1px solid #392e5c !important;
	color: #faf9fa !important;
	border-left: unset !important;
	border-radius: 0px;
}

.list-group-item-action {
	background: #0f0e11 !important;
    background-clip: padding-box !important;
    border: 1px solid #392e5c !important;
	color: #faf9fa !important;
}

.b-purple-input:focus, .b-purple-input:active,
.b-purple-input > .input-group > .form-control:focus,
.b-purple-input > .input-group > .form-control:active,
.list-group-item-action:active  {
	background: #0f0e11 !important;
    background-clip: padding-box !important;
    border: 1px solid #6441a4 !important;
    border-color: #6441a4 !important;
	border-left: unset !important;
    outline: #6441a4 !important;
	color: #faf9fa !important;
	box-shadow: 5px 0 5px -1px #6441a4 !important;
}
